# An introduction to Pandas

This package provides fundamental *routines* and *data structures* for doing **data analysis** and **manipulation** in Python. It is built on top of NumPy.

In [3]:
import pandas as pd
import numpy as np

## References

* Python for Data Analysis, Chapter 5, by Wes McKinney, O'REILLY
* [Pandas documentation](http://pandas.pydata.org/pandas-docs/stable/)

## Data Structures

### Series

This data structure is a one-dimensional ndarray with axis labels.

In [55]:
from datetime import datetime

dates = pd.date_range(start=datetime.now(), periods=10, freq='2H') # Frequency : 2 hours (2H)
temperatures = np.random.randn(len(rng)) * 0.5 + 20
x = pd.Series(index=dates, data=temperatures)

print(x)

2016-09-23 09:49:03.738089    20.197845
2016-09-23 11:49:03.738089    19.982648
2016-09-23 13:49:03.738089    20.800776
2016-09-23 15:49:03.738089    20.569383
2016-09-23 17:49:03.738089    20.812991
2016-09-23 19:49:03.738089    19.395646
2016-09-23 21:49:03.738089    19.967587
2016-09-23 23:49:03.738089    20.027046
2016-09-24 01:49:03.738089    20.819656
2016-09-24 03:49:03.738089    19.819576
Freq: 2H, dtype: float64

In [56]:
x.index.name = 'Date time'
x.name = 'Temperatures'
print(x)

Date time
2016-09-23 09:49:03.738089    20.197845
2016-09-23 11:49:03.738089    19.982648
2016-09-23 13:49:03.738089    20.800776
2016-09-23 15:49:03.738089    20.569383
2016-09-23 17:49:03.738089    20.812991
2016-09-23 19:49:03.738089    19.395646
2016-09-23 21:49:03.738089    19.967587
2016-09-23 23:49:03.738089    20.027046
2016-09-24 01:49:03.738089    20.819656
2016-09-24 03:49:03.738089    19.819576
Freq: 2H, Name: Temperatures, dtype: float64

In [57]:
obj = pd.Series([4, 7, -5, 3])
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64

In [58]:
obj[1:3] = 22
print(obj)

0     4
1    22
2    22
3     3
dtype: int64

In [59]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print(obj2)

d    4
b    7
a   -5
c    3
dtype: int64

In [60]:
print("obj2['a'] : ", obj2['a'])
obj2[['c', 'a']] = 0
print(obj2)

obj2['a'] :  -5
d    4
b    7
a    0
c    0
dtype: int64

In [61]:
obj2[1:3] = 22
print(obj2)

d     4
b    22
a    22
c     0
dtype: int64

In [62]:
'b' in obj2

True

In [63]:
'f' in obj2

False

In [64]:
obj3 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
print((obj3 > 0) & (obj3 < 5))

d     True
b    False
a    False
c     True
dtype: bool

In [65]:
obj3[(obj3 > 0) & (obj3 < 5)]

d    4
c    3
dtype: int64

In [66]:
obj3 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [67]:
np.exp(obj3)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [68]:
print(id(np.exp(obj3)), id(obj3))

140543010777632 140543010775896

In [69]:
obj4 = pd.Series({'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000})
print(obj4)

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

Missing values appear as `NaN` (not a number) :

In [70]:
data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj5 = pd.Series(data, index=states)
print(obj5)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [71]:
pd.isnull(obj5)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [72]:
obj5[pd.notnull(obj5)]

Ohio      35000.0
Oregon    16000.0
Texas     71000.0
dtype: float64

### DataFrame

A DataFrame is a data structure used as **data matrices**, i.e., a collection of columns, one for each variable. For example, with three columns and five rows:

In [73]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = pd.DataFrame(data)
print(frame)

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

Specify columns orders and rows labels:

In [74]:
frame2 = pd.DataFrame(data, 
                     columns=['year', 'state', 'pop'],
                     index=['one', 'two', 'three', 'four', 'five'])
print(frame2)

       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  2.9

In [75]:
frame2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object

In [76]:
type(frame2['state'])

pandas.core.series.Series

In [77]:
frame2.loc['three']

year     2002
state    Ohio
pop       3.6
Name: three, dtype: object

In [78]:
frame2['dept'] = 16.5
print(frame2)

       year   state  pop  dept
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [79]:
frame2.loc['three', 'dept'] = 4.2
print(frame2)

       year   state  pop  dept
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6   4.2
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5

In [80]:
frame2.iloc[1, 2] = 0.87
print(frame2)

       year   state   pop  dept
one    2000    Ohio  1.50  16.5
two    2001    Ohio  0.87  16.5
three  2002    Ohio  3.60   4.2
four   2001  Nevada  2.40  16.5
five   2002  Nevada  2.90  16.5

In [81]:
frame2['var'] = np.arange(5)
print(frame2)

       year   state   pop  dept  var
one    2000    Ohio  1.50  16.5    0
two    2001    Ohio  0.87  16.5    1
three  2002    Ohio  3.60   4.2    2
four   2001  Nevada  2.40  16.5    3
five   2002  Nevada  2.90  16.5    4

In [82]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['dept'] = val
print(frame2)

       year   state   pop  dept  var
one    2000    Ohio  1.50   NaN    0
two    2001    Ohio  0.87  -1.2    1
three  2002    Ohio  3.60   NaN    2
four   2001  Nevada  2.40  -1.5    3
five   2002  Nevada  2.90  -1.7    4

In [83]:
frame2['eastern'] = frame2.state == 'Ohio'
print(frame2)
del frame2['eastern']
print(frame2)

       year   state   pop  dept  var eastern
one    2000    Ohio  1.50   NaN    0    True
two    2001    Ohio  0.87  -1.2    1    True
three  2002    Ohio  3.60   NaN    2    True
four   2001  Nevada  2.40  -1.5    3   False
five   2002  Nevada  2.90  -1.7    4   False
       year   state   pop  dept  var
one    2000    Ohio  1.50   NaN    0
two    2001    Ohio  0.87  -1.2    1
three  2002    Ohio  3.60   NaN    2
four   2001  Nevada  2.40  -1.5    3
five   2002  Nevada  2.90  -1.7    4

## Exercises

Based on [pandas-datareader](http://pandas.pydata.org/pandas-docs/stable/remote_data.html), retrieve data about MSFT and AAPL and GOOG indices for the three last months.

In [123]:
from pandas_datareader import data
help(data.DataReader)

Help on function DataReader in module pandas_datareader.data:

DataReader(name, data_source=None, start=None, end=None, retry_count=3, pause=0.001, session=None)
    Imports data from a number of online sources.

    Currently supports Yahoo! Finance, Google Finance, St. Louis FED (FRED)
    and Kenneth French's data library.

    Parameters
    ----------
    name : str or list of strs
        the name of the dataset. Some data sources (yahoo, google, fred) will
        accept a list of names.
    data_source: {str, None}
        the data source ("yahoo", "yahoo-actions", "google", "fred", or "ff")
    start : {datetime, None}
        left boundary for range (defaults to 1/1/2010)
    end : {datetime, None}
        right boundary for range (defaults to today)
    retry_count : {int, 3}
        Number of times to retry query request.
    pause : {numeric, 0.001}
        Time, in seconds, to pause between consecutive queries of chunks. If
        single value given for symbol, represents the pause between retries.
    session : Session, default None
            requests.sessions.Session instance to be used

    Examples
    ----------

    # Data from Yahoo! Finance
    gs = DataReader("GS", "yahoo")

    # Corporate Actions (Dividend and Split Data) with ex-dates from Yahoo! Finance
    gs = DataReader("GS", "yahoo-actions")

    # Data from Google Finance
    aapl = DataReader("AAPL", "google")

    # Data from FRED
    vix = DataReader("VIXCLS", "fred")

    # Data from Fama/French
    ff = DataReader("F-F_Research_Data_Factors", "famafrench")
    ff = DataReader("F-F_Research_Data_Factors_weekly", "famafrench")
    ff = DataReader("6_Portfolios_2x3", "famafrench")
    ff = DataReader("F-F_ST_Reversal_Factor", "famafrench")

In [156]:
from dateutil.relativedelta import relativedelta

all_data = {}

start_date = datetime.today() - relativedelta(months=9)

indices = ['AAPL', 'IBM', 'MSFT', 'GOOG']

for index in indices:
    all_data[index] = data.DataReader(index, "google", start_date)
    
all_data['AAPL'].head()

              Open    High     Low   Close    Volume
Date
2015-12-23  107.27  108.85  107.20  108.61  32657354
2015-12-24  109.00  109.00  107.95  108.03  13596680
2015-12-28  107.59  107.69  106.18  106.82  26704210
2015-12-29  106.96  109.43  106.86  108.74  30931243
2015-12-30  108.58  108.70  107.18  107.32  25213777

Create a dataframe that contains all the close columns for these stock indices. Save this dataframe to a comma-separated values (csv) file (see, [pandas.DataFrame.to_csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html)).

In [136]:
clode_data = pd.DataFrame({tic: data['Close'] for tic, data in all_data.items()})

Determine the days with maximal difference between Open and Close values for each stock (see, [idxmax](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.idxmax.html) and [abs](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.abs.html)).

In [145]:
for index in indices:
    diff = all_data[index]['Open'] - all_data[index]['Close']
    print(index, ' : ',  diff.abs().idxmax())

AAPL  :  2016-01-05 00:00:00
IBM  :  2016-02-10 00:00:00
MSFT  :  2016-01-13 00:00:00
GOOG  :  2016-02-03 00:00:00

Translate columns names to another language (see, dataframe's column attribute).

In [157]:
tmp = all_data['AAPL'].columns
all_data['AAPL'].columns = ['Ouverture', '+Haute', '+Bas', 'Cl√¥ture', 'Volume']
all_data['AAPL'].columns = tmp

Use the *iterrows* method to determine the stock with the highest number of positive days (i.e., when close is greater than the open value).

In [ ]:
for index in indices:
    all_data[index]

Create a new column named *profit* that indicates if the corresponding day is positive (i.e., when close is greater than the open value).

In [159]:
for index in indices:
    all_data[index]['Profit'] = all_data[index]['Close'] > all_data[index]['Open']

all_data['AAPL'].head()

              Open    High     Low   Close    Volume Profit
Date
2015-12-23  107.27  108.85  107.20  108.61  32657354   True
2015-12-24  109.00  109.00  107.95  108.03  13596680  False
2015-12-28  107.59  107.69  106.18  106.82  26704210  False
2015-12-29  106.96  109.43  106.86  108.74  30931243   True
2015-12-30  108.58  108.70  107.18  107.32  25213777  False

Determine the top 10 days with highest close values for each stock (see, [sort_values](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html)).

In [164]:
for index in indices:
    print(all_data[index].sort_values('Close', ascending=False)[1:10])

              Open    High     Low   Close     Volume Profit
Date
2016-09-16  115.12  116.13  114.04  114.92   79886911  False
2016-09-22  114.35  114.94  114.00  114.62   31073984   True
2016-09-19  115.19  116.18  113.25  113.58   47023046  False
2016-09-20  113.05  114.12  112.51  113.57   34514269   True
2016-09-21  113.85  113.99  112.44  113.55   36003185  False
2016-04-14  111.62  112.39  111.33  112.10   25337435   True
2016-04-13  110.80  112.34  110.80  112.04   32691799   True
2016-09-14  108.73  113.03  108.60  111.77  112340318   True
2016-04-04  110.42  112.19  110.27  111.12   37243224   True
              Open    High     Low   Close   Volume Profit
Date
2016-08-05  162.00  163.51  161.57  163.50  3812370   True
2016-07-25  162.00  162.88  161.75  162.65  2804578   True
2016-07-26  162.65  163.60  161.37  162.12  2894559  False
2016-08-10  162.19  162.66  161.96  162.08  2466675  False
2016-07-22  160.78  162.17  160.48  162.07  2520077   True
2016-08-08  162.73  163.27  161.58  162.04  3039306  False
2016-08-12  163.19  163.46  161.52  161.95  2543079  False
2016-08-15  162.40  162.97  161.78  161.88  2970415  False
2016-07-27  162.12  162.57  161.18  161.83  2162680  False
             Open   High    Low  Close    Volume Profit
Date
2016-08-09  58.17  58.50  58.02  58.20  16920721   True
2016-08-25  57.88  58.29  57.78  58.17  18552579   True
2016-08-15  58.01  58.50  57.96  58.12  19283902   True
2016-08-29  58.18  58.60  58.10  58.10  16417207  False
2016-08-08  58.06  58.08  57.78  58.06  19473499  False
2016-08-26  58.28  58.70  57.69  58.03  20971202  False
2016-08-10  58.16  58.32  57.82  58.02  15756913  False
2016-08-05  57.65  58.21  57.45  57.96  29335221   True
2016-08-24  57.80  58.04  57.72  57.95  18151506   True
              Open    High     Low   Close   Volume Profit
Date
2016-08-11  785.00  789.75  782.97  784.85   975113  False
2016-08-10  783.75  786.81  782.78  784.68   786363   True
2016-08-09  781.10  788.94  780.57  784.26  1318894   True
2016-08-12  781.50  783.40  780.40  783.22   740498   True
2016-08-15  783.75  787.49  780.11  782.44   938186  False
2016-08-05  773.78  783.04  772.34  782.22  1801205   True
2016-08-08  782.00  782.63  778.09  781.76  1107857  False
2016-09-07  780.00  782.73  776.20  780.35   894021   True
2016-09-06  773.45  782.00  771.00  780.08  1442822   True

Use [pandas.DataFrame.plot](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) and [pandas.DataFrame.hist](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.hist.html) to visualize this data frame.

In [ ]:
# ...

Create a new dataframe that indicates for each stock if the gain was negative, small (<1), medium (<6), or large. For this purpose you are asked to use  of pandas.DataFrame.apply.

In [171]:
def eval(day):
    gain = day['Close'] - day['Open']
    if gain < 0:
        return 'negative'
    elif gain < 1:
        return 'small'
    elif gain < 6:
        return 'medium'
    else:
        return 'large'

gain = pd.DataFrame({index: data.apply(eval, axis=1) for index, data in all_data.items()})

gain.head()

                AAPL      GOOG       IBM      MSFT
Date
2015-12-23    medium  negative     small     small
2015-12-24  negative  negative  negative  negative
2015-12-28  negative     large  negative     small
2015-12-29    medium     large    medium     small
2015-12-30  negative  negative  negative  negative

Use the *drop* method to remove the 'date' column from a data frame.

In [ ]:
# ...

### Index Objects

In [6]:
x = pd.Series(range(3), index=['a', 'b', 'c'])
print(x)
print()
print(x.index)

a    0
b    1
c    2
dtype: int64

Index(['a', 'b', 'c'], dtype='object')

What do you conclude from executing the following statement ?

In [86]:
x.index[1] = 'd'

TypeError: Index does not support mutable operations

In [88]:
'c' in x.index

True

In [89]:
'd' in x.index

False

In [31]:
y = x.reindex(['c', 'b', 'a'])
print(y)

c    12
b     1
a     0
dtype: int64

In [32]:
x.reindex(['c', 'b', 'a'])
print(x)

a     0
b     1
c    12
dtype: int64

In [35]:
y['a'] = 32
print(x)

a     0
b     1
c    12
dtype: int64

In [92]:
x.reindex(['a', 'b', 'c', 'd', 'e'])

a    0.0
b    1.0
c    2.0
d    NaN
e    NaN
dtype: float64

Missing values can be handled as follows

In [93]:
x.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a    0
b    1
c    2
d    0
e    0
dtype: int64

## Exercises

With Data Frames, the `reindex` method can be applied to rows and columns. Reorder the collumns of the following data frame (in alphabetical order) with the reindex method (see, [reindex](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reindex.html)).

In [21]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                  index=['a', 'c', 'd'],
                  columns=['Ohio', 'Texas', 'California'])
frame.reindex(columns=['California', 'Ohio', 'Texas'])

   California  Ohio  Texas
a           2     0      1
c           5     3      4
d           8     6      7

Add an index 'b' to the data frame with a value equal to 5 for each state.

In [25]:
frame.reindex(index=['a', 'c', 'd', 'b'], fill_value=5)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
b     5      5           5

In [36]:
frame.loc['b'] = 5
print(frame)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
b     5      5           5

Use the `drop` method (see, [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)) to delete the two last columns of the dataframe.

In [40]:
frame.drop(axis=1, labels=['Texas', 'California'])

   Ohio
a     0
c     3
d     6
b     5

Why does the following sum yields to an instance of `Series` with `NaN` values ?

In [41]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

Use the DataFrame's add method (see, [here](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.add.html)) to add these two data frames so that missing values are replaced by `0` (see, [fillna](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)).

In [51]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                   columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])

df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                columns=list('bde'),
                index=['Utah', 'Ohio', 'Texas', 'Oregon'])

print(df1, '\n', df2)

df1.add(df2, fill_value=0).fillna(value=0)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
           b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

            b    c     d     e
Colorado  6.0  7.0   8.0   0.0
Ohio      3.0  1.0   6.0   5.0
Oregon    9.0  0.0  10.0  11.0
Texas     9.0  4.0  12.0   8.0
Utah      0.0  0.0   1.0   2.0