# An introduction to Python

Python is an *easy to read* and *easy to learn* multiparadigm programming language. This notebook allows to quickly dive into this language for any student with knowledge of a procedural programming language such as C or Matlab. This introduction is based on the following references :
 * Learning Python, by Mark Lutz
 * Python Programming: An Introduction to Computer Science, by John M. Zelle
 * https://github.com/dataminingapp
 * [Python 3.5.2 documentation](https://docs.python.org/3/)
 * https://learnxinyminutes.com/docs/python3/,
 * [Exercises in Programming Style, by Cristina Videira Lopes](https://github.com/crista/exercises-in-programming-style)
 * [Python Cookbook, by David Beazley and Brian K. Jones](http://chimera.labs.oreilly.com/books/1230000000393)

#### Execute, and explain each expression. To execute a cell, select the cell and press `Ctrl + Enter` keys.

### Float, integers, and mathematical operators

In [ ]:
3

In [ ]:
type(3)

In [ ]:
1 + 1 - 4

In [ ]:
_ + 3

In [ ]:
6/3

In [ ]:
type(6/3)

In [ ]:
5 / 3

In [ ]:
5 // 3

In [ ]:
type(5//3)

In [ ]:
3 * 2

In [ ]:
3 * 2.0

In [ ]:
2**4

In [ ]:
7 % 3

In [ ]:
int(4.6)

In [ ]:
round(4.6)

In [ ]:
float(3)

### Boolean values and operators

In [ ]:
True

In [ ]:
not True

In [ ]:
bool(0)

In [ ]:
bool(1)

In [ ]:
0 == False

In [ ]:
1 == True

In [ ]:
7 != True

In [ ]:
7 != False

In [ ]:
1 == 1

In [ ]:
1 != 2

In [ ]:
(1 < 10) and (10 < 12)

In [ ]:
(1 < 10) and (12 < 12)

In [ ]:
(1 < 10) and (12 <= 12)

In [ ]:
1 < 10 < 12

In [ ]:
1 < 12 < 12

### Strings

In [ ]:
"This is a string."

In [ ]:
'This is also a string.'

In [ ]:
"Hello " + "world!"

In [ ]:
"Hello " "world!"

In [ ]:
"This is a string"[0]

In [ ]:
"{} can be {}".format("Strings", "interpolated")

In [ ]:
"{0} {0} {1} {0} {2} {1} {0}".format("St", "Tt", "Ut")

In [ ]:
"{name} wants to eat {food}".format(name="Bob", food="lasagna")

In [ ]:
bool('')

In [ ]:
bool('abc')

### Comments

In [ ]:
# Single line comments start with a number symbol.

In [ ]:
""" Multiline strings can be written
    using three "s, and are often used
    as comments
"""

### Variables

In [ ]:
x = 2
y = 7

In [ ]:
x

In [ ]:
x + y

In [ ]:
x + y + z

In [ ]:
%whos

In [ ]:
lst1 = [1, 2, 3]
lst2 = ['A', 'B', 'C']
type(lst1)

lst1 and lst2 are two variables pointing to two different **objects** of type **list**. The **id()** function returns an integer representing its identity (its address).

In [ ]:
id(lst1)

In [ ]:
id(lst2)

The **is** operator compares the identity of two objects :

In [ ]:
lst1 is lst2

In [ ]:
lst3 = lst1
lst3 is lst1

In [ ]:
id(lst3)

In [ ]:
lst3 = ['A', 'B', 'C']
id(lst3)

In [ ]:
lst1

In [ ]:
lst2

In [ ]:
lst2 == lst3

In [ ]:
lst2 is lst3

### Print function

In [ ]:
print("I'm Python. Nice to meet you!")

In [ ]:
print("Hello, World!")
print("Hello, World!")

In [ ]:
print("Hello, World", end="! ")
print("Hello, World!")

In [ ]:
my_var = 1234
print(my_var)
print("my_var : {}".format(my_var))
print("my_var :", my_var)

In [ ]:
print?

### Modules

In [ ]:
import math
print(math.sqrt(2 * math.pi))

In [ ]:
from math import ceil, floor

print(ceil(3.7))
print(floor(3.7))

In [ ]:
import math as m

math.sqrt(16) == m.sqrt(16)

### List

In [ ]:
li = []
other_li = [4, 5, 6]

In [ ]:
len(other_li)

In [ ]:
li.append(1)
li.append(2)
li.append(4)
li.append(3)
li

In [ ]:
li.pop()

In [ ]:
print(li)

In [ ]:
li.append(3)
print(li)
print(li[0])
print(li[-1])
print(li[1:3])
print(li[2:])
print(li[:3])
print(li[::2])

In [ ]:
li[0] = 0
li2 = li
print(li)
print(li2)
li[0] = 77
print(li)
print(li2)

In [ ]:
li[0] = 0
li2 = li[:]
print(li)
print(li2)
li[0] = 77
print(li)
print(li2)

In [ ]:
li3 = ['A', 'B', 'A', 'C', 'A', 'D']
del li3[2]
print(li3)

In [ ]:
li3 = ['A', 'B', 'A', 'C', 'A', 'D']
li3.remove('A')
print(li3)
print(li3.index('A'))

In [ ]:
li + li3

Membership test operations (see, [here](https://docs.python.org/3/reference/expressions.html#in))

In [ ]:
'C' in li3

In [ ]:
'E' in li3

equivalent to :

In [ ]:
x = 'C'
any(x is e or x == e for e in li3)

In [ ]:
a = [1, 2]
b = [1, 2]
c = [a]

In [ ]:
a in c

In [ ]:
b in c

#### Exercises

* Define a two lists containing all the odd numbers and all the prime numbers below 10, respectively. Then, merge these list and remove the duplicate values.
* What is the meaning of li[::-1] ?
* What is the meaning of li[::2] = 5 ?

### Tuples

In [ ]:
tup = ("word", 2, 27.02)
print(tup)
print(tup[0])
print(len(tup))
print(2 in tup)

Tuples are **immutable** :

In [ ]:
tup[0] = 3

In [ ]:
print( type((1, 2, 3)) )
print( type((1)) )
print( type((1,)) )
print( type(()) )

In [ ]:
a, b, c = (1, 2, 3)
print("a : {}, b: {}, c : {}".format(a, b, c))

In [ ]:
a, b, c = 12, 'acb', 42.0
print("a : {}, b: {}, c : {}".format(a, b, c))

#### Exercises

* What are the differences between Lists and Tuples ?
* How would you name the following operation : e, d = d, e. Illustrate this with an example.

### Dictionaries

In [ ]:
empty_dict = {}
filled_dict = {"one": 1, "two": 2, "three": 3}

In [ ]:
filled_dict['two']

In [ ]:
filled_dict['forty-two'] = 42
print(filled_dict)

In [ ]:
from pprint import pprint

pprint(filled_dict, width=1)

In [ ]:
iterable_object = filled_dict.keys()

iterator = iter(iterable_object)

print(next(iterator))
print(next(iterator))
print(next(iterator))

iterator = iter(iterable_object)

print(next(iterator))

In [ ]:
list(iterable_object)

In [ ]:
list(filled_dict.values())

In [ ]:
'nine' in filled_dict

In [ ]:
filled_dict['nine']

In [ ]:
filled_dict.get('nine') is None

In [ ]:
del filled_dict['one']
'one' not in filled_dict

In [ ]:
filled_dict.update({'one':1})
print(filled_dict)

Keys have to be *immutable* so that they can be converted to a constant hash value :

In [ ]:
invalid_dict = {[1,2,3]: "123"}

#### Exercise

* Define a dictionary that contains the keys *odd*, *even*, and *prime* and values `[1, 3, 5, 7, 9]`, `[2, 4, 6, 8, 10]`, and `[2, 3, 5, 7]`. Then, add the values 11, 12, 13 and 14 to the corresponding lists.

### Sets

In [ ]:
empty_set = set()

In [ ]:
some_set = {1, 1, 2, 2, 3, 4}
print(some_set)

Elements of a set have to bo immutable so that they can be converted to a constant hash value :

In [ ]:
invalid_set = {[1, 2, 3], '123'}

In [ ]:
valid_set = {123, '123', (1,2,3), 123, '123'}
print(valid_set)

#### Sets operators

In [ ]:
A = {1, 2, 3, 4, 5}
B = {2, 4, 6, 8, 10}
C = {1, 3, 5, 7, 9}

In [ ]:
print(2 in A)
print(2 in C)
print(2 not in C)

Intersection and union

In [ ]:
print(A & B)
print(A & C)
print(B | C)

Difference

In [ ]:
print(A - B)
print(A ^ B)

Subset

In [ ]:
{1, 2, 4} <= {1, 2, 4, 8}

In [ ]:
{1} < {1, 2}

In [ ]:
{1, 2, 4} <= {1, 2, 3}

In [ ]:
{1, 2, 4} <= {1, 2}

#### Exercises

* Write an intersection between two non empty sets that is equal to the empty set.
* Give two sets of size greater or equal to 3 whose the difference and symetric difference are both equal to {1, 2, 3}.
* Define a two lists containing all the odd numbers and all the prime numbers below 10, respectively. Then, based on set operators, merge these list and remove the duplicate values.

### Control Flow

#### The if statement

In [ ]:
some_var = 5

if some_var > 10:
    print("some_var is totally bigger than 10.")

Indentation is significant.

In [ ]:
some_var = 5

if some_var > 10:
    print("some_var is totally bigger than 10.")
    some_var += 10

print(some_var)

if some_var > 10:
    print("some_var is totally bigger than 10.")
some_var += 10

print(some_var)

if some_var > 10:
    print("some_var is totally bigger than 10.")

With else and else if clauses :

In [ ]:

if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:
    print("some_var is smaller than 10.")
else:   
    print("some_var is indeed 10.")

#### The for loop

In [ ]:
for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

In [ ]:
it = iter(range(4))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

In [ ]:
it = iter(range(4))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))
print(next(it))

In [ ]:
for i in range(4):
    print(i)

In [ ]:
# Half-open interval : [4, 8[
# size : 8 - 4 = 4
for i in range(4, 8):
    print(i)

In [ ]:
for i in range(4, 8, 2):
    print(i)

In [ ]:
for d in [3,1,4,1,5]:
    print(d, end=" ")

In [ ]:
for i in range(3):
    for j in range(3):
        print(i, j)
    
    print("This statement is within the i-loop, but not the j-loop")

In [ ]:
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
for k in filled_dict:
    print(k)

In [ ]:
filled_dict = {"one": 1, "two": 2, "three": 3}
for v in filled_dict.values():
    print(v)

In [ ]:
filled_dict = {"one": 1, "twenty": 20, "three": 3}
for k, v in filled_dict.items():
    print('{:<10} -> {:>4}'.format(k, v))

In [ ]:
print("start")
for i in range(0):
    print("Hello")
print("end")

#### Exercises

* With the use of a single loop, complete the following program so that `words_freqs` contains words with frequencies of occurence from the list `word_list`.

In [ ]:
from random import sample

word_set = {'simply', 'dummy', 'text'}

word_list = []
for i in range(100):
    word_list.extend(sample(word_set, 1))
    
words_freqs = {}

### Functions

In [ ]:
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y

In [ ]:
add(5, 6)

In [ ]:
add(y=6, x=5)

#### Exercises

* Write a function that computes the factorial of 100. What do you conclude from that. Compare with the result of googling "100!".

#### Variable number of arguments

In [ ]:
def varargs(*args):
    print(type(args))
    return args

varargs(1, 2, 3)

In [ ]:
def keyword_args(**kwargs):
    print(type(kwargs))
    return kwargs

# Let's call it to see what happens
keyword_args(big="foot", loch="ness")

In [ ]:
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)

all_the_args(1, 7, 913, big="foot", loch="ness")

In [ ]:
val = (7, 9)
add(*val)

In [ ]:
val = {'x': 12, 'y': 23}
add(**val)

#### Exercises

* Write a function that takes a variable number of arguments and returns its sum.
* Write a function that takes a variable number of arguments and returns the minimal value.
* Write a function that takes a list of numerical values as argument and returns the minimal and maximal value.

#### Function scope - Naming resolution

The Python's naming resolution is called the LEGB rule. When an unqualified name is used, python searches up to four scopes in the following order :

* L : Local
* E : Enclosing
* G : Global
* B : Built-in

Local and global

In [ ]:
x = 5

def set_x(num):
    x = num # An assignment create a local change
    print(x)

set_x(43)
print(x)

In [ ]:
x = 5

def f():
    print(x)
  
f()

In [ ]:
x = 5

def set_x(num):
    global x
    x = num
    print(x)

set_x(43)
print(x)

Built-in

In [ ]:
len([1,2,3])

In [ ]:
def len(x):
    return 0

len([1,2,3])

In [ ]:
x, y = 1, 2

def f():
    x = 3
    def g():
        y = 6
        print('g. {}, {}'.format(x, y))
    print('f1. {}, {}'.format(x, y))
    g()
    print('f2. {}, {}'.format(x, y))

f()

print('final. {}, {}'.format(x, y))

#### Python has first class functions

In [ ]:
def create_adder(x):
    def adder(y):
        return x + y
    return adder

In [ ]:
add_10 = create_adder(10)
print(add_10(3))
print(add_10(7))

In [ ]:
def create_accumulator(x):
    def accumulator(y):
        nonlocal x
        x += y
        return x
    return accumulator

acc_10 = create_accumulator(10)

print(acc_10(3))
print(acc_10(7))

#### Exercises

* Complete the following code to compute fibonacci numbers based on the use of first class functions :

In [ ]:
def fib():

f = fib()
print(f(), f(), f(), f())

#### Anonymous functions

In [ ]:
(lambda x: x > 2)(3)

In [ ]:
comparator = lambda x: x > 2
comparator(8)

In [ ]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)

In [ ]:
students = ['john', 'dave', 'jane']
sorted(students)

In [ ]:
students = [
        ('jane', 'A', 15),
        ('dave', 'B', 12),
        ('john', 'B', 10),
]
sorted(students)

In [ ]:
students = [
        ('jane', 'A', 15),
        ('dave', 'B', 12),
        ('john', 'B', 10),
]

sorted(students, key=lambda student: student[2])

In [ ]:
from operator import itemgetter

print( sorted(students, key=itemgetter(2)) )

#### List comprehension

In [ ]:
add_10 = lambda x: 10 + x
[add_10(i) for i in [1, 2, 3]]

In [ ]:
[x for x in [3, 4, 5, 6, 7] if x > 5]

#### Built-in functions

In [ ]:
abs(-3)

In [ ]:
all([True, True, False])

In [ ]:
all([True, True, True])

In [ ]:
any([True, True, True])

In [ ]:
any([False, False, False])

In [ ]:
max(3, 4, 7, 2)

In [ ]:
max(range(100))

In [ ]:
list(map(lambda x: (x % 2) == 0 , [1, 2, 3, 4, 5, 6]))

In [ ]:
list(map(max, [1, 2, 3], [4, 2, 1]))

In [ ]:
list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))

In [ ]:
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

for i, season in enumerate(seasons):
    print('{} : {}'.format(i, season))

print(enumerate(seasons))    
print(list(enumerate(seasons)))

#### Exercises

* Combine map, all, and lambda to check if a given list contains only even numbers.
* Use list comprehensions instead of maps to answer the previous question.

### Classes

In [ ]:
import math

class Point:
    """
    Represents a point in the two-dimensional Euclidean plane.
    
    :param x: 
        the first coordinate
        
    :param y: 
        the second coordinate
    """
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def distance(self, other_point):
        """
        Returns the euclidean distance from the point refered by other_point to itself.
        """
        return math.sqrt((self.x - other_point.x)**2 + (self.y - other_point.y)**2)

p1 = Point(x=7.4, y=2.0)

p2 = Point(x=1.4, y=0.8)

print(p1.distance(p2))
print(Point.distance(p1, p2))

p3 = Point(x=7.4, y=2.0)

print(p1 == p3)

print(p1.__dict__['x'], p1.__dict__['y'])

In [ ]:
help(Point)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces = [1, 2, 3]

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

Dice.faces = [1, 2, 3]

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
    def set_faces(faces):
        Dice.faces = faces
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

Dice.set_faces([1, 2, 3])

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
    def set_faces(self, faces): # self is a variable that refers to an instance of Dice
        self.faces = faces
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.set_faces([1, 2, 3]) # This is equivalent to Dice.set_faces(d1, [1, 2, 3])

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]
    
d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces.append(7)

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice()
d2 = Dice()

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice.__new__(Dice)
d2 = Dice.__new__(Dice)

In [ ]:
class Dice:
    faces = [1, 2, 3, 4, 5, 6]

    def __init__(self):
        print("Init an instance of Dice refered by the self variable")

d1 = Dice.__new__(Dice).__init__()
d2 = Dice.__new__(Dice).__init__()

In [ ]:
class Dice:
    def __init__(self):
        self.faces = [1, 2, 3, 4, 5, 6]

d1 = Dice()
d2 = Dice()

print(d1.faces == d2.faces)
print(d1.faces is d2.faces)

d1.faces.append(1)

print(d1.faces)
print(d2.faces)
print(d1.faces is d2.faces)

#### Exercises

* Add the method `equals` to the class `Point` that determines whether or not two points are equal.
* Complete the following class definition with the help of the random module (see, https://docs.python.org/3/library/random.html) :

In [ ]:
import random

class Dice:
    """
    Represents a dice composed of six faces labled from 1 to 6.
    """
    
    def __init__(self):
        self.face_value = 1
        self.dice_values = list(range(1,7))
        
    def roll(self): pass
    
    def get_face_value(self): pass

d = Dice()
print(d.get_face_value())
d.roll()
print(d.get_face_value())
d.roll()
print(d.get_face_value())

### Generators

In [ ]:
def a_generator():
    yield 2
    yield 4
    yield 6

iterator = iter(a_generator())
    
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

In [ ]:
def double_numbers(iterable):
    for i in iterable:
        yield i + i

for i in double_numbers(range(1, 90)):
    print(i)
    if i >= 30:
        break

#### Exercises

* Write a generator of fibonacci numbers, and use it to generate the 20 first fibonacci numbers.

### File I/O

In [ ]:
# Writing to a file
with open("example.txt", "w") as f:
    f.write("Hello World! \n")
    f.write("How are you? \n")
    f.write("I'm fine.")

In [ ]:
ls

In [ ]:
# Reading from a file
with open("example.txt", "r") as f:
    data = f.readlines()
    for line in data:
        words = line.split()
        print(words)

In [ ]:
# Count lines and words in a file
lines = 0
words = 0
the_file = "example.txt"

with open(the_file, 'r') as f:
    for line in f:
        lines += 1
        words += len(line.split())
        
print("There are {} lines and {} words in the {} file.".format(lines, words, the_file))